<!DOCTYPE html>
<html>
    <head>
		<title>lone empltz</title>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
        <link rel="stylesheet" href="custom.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
		<script src="support/underscore-1.1.6-min.js"></script>
		<script src="support/backbone-0.3.3.js"></script>
		<script src="support/backbone-localstorage.js"></script>
        <script src="code-bb.js"></script>
		<script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
	</head>
	<body>
    
    
	<!-- Start of first page -->

<div data-role="page" id="list" class="swipedelete" data-theme="d">

    <div data-role="header">
		<h1>empltz</h1>
        <a id="addButton" href="#add" data-rel="dialog" data-icon="plus" class="ui-btn-right" data-iconpos="notext">Add</a>
	</div><!-- /header -->
    

	<div data-role="content">	
		<ul id="templateList" data-role="listview" data-inset="true" data-split-icon="gear">

		</ul>
    <p><b>hint:</b> Swipe to delete </p>

	</div><!-- /content -->

</div><!-- /page -->

<!-- Start of second page -->
<div data-role="page" id="edit">

    <div data-role="header">
		<h1>Edit</h1>
	</div><!-- /header -->

	<div data-role="content">
		<form id="editForm" method="get" action="#" accept-charset="utf-8">
			<div data-role="fieldcontain">
				<fieldset data-role="controlgroup" data-type="horizontal">
				    <legend>Type:</legend>
				         <input type="radio" name="type" id="type-1" value="mailto" checked="checked"/>
				            <label for="type-1">Email</label>
				            <input type="radio" name="type" id="type-2" value="sms"  />
				            <label for="type-2">SMS</label>
				        </fieldset>
				          <label for="name">Label:</label>
				          <input type="text" name="name" id="name" value=""  />
				    	<label for="to">To:</label>
				        <input type="text" name="to" id="to" value=""  />
				    	<label for="subject">Subject:</label>
				        <input type="text" name="subject" id="subject" value=""  />
				    	<label for="body">Body:</label>
				        <input type="text" name="body" id="body" value=""  />

			</div>
			<button type="submit" value="Save" data-theme="a" >Save</button>
		</form>
	</div><!-- /content -->

</div><!-- /page -->

<!-- Start of second page -->
<div data-role="page" id="add">

    <div data-role="header">
		<h1>Add</h1>
	</div><!-- /header -->

	<div data-role="content">
		<form id="addForm" method="get" action="#" accept-charset="utf-8">
			<div data-role="fieldcontain">
                <fieldset data-role="controlgroup" data-type="horizontal">
				    <legend>Type:</legend>
				         <input type="radio" name="type" id="type-1" value="mailto" checked="checked"/>
				        <label for="type-1">Email</label>
				            <input type="radio" name="type" id="type-2" value="sms"  />
				            <label for="type-2">SMS</label>
				        </fieldset>
				          <label for="name">Label:</label>
				          <input type="text" name="name" id="name" value=""  />
				    	<label for="to">To:</label>
				        <input type="text" name="to" id="to" value=""  />
				    	<label for="subject">Subject:</label>
				        <input type="text" name="subject" id="subject" value=""  />
				    	<label for="body">Body:</label>
				        <input type="text" name="body" id="body" value=""  />
			</div>
			<button type="submit" value="Save" data-theme="a" >Save</button>
		</form>
	</div><!-- /content -->

</div><!-- /page -->

<!-- Templates -->

    <script type="text/template" id="item-template">
	 <a class="pltLink" id=<%= id %> href=<%= url %> > <%= name %> </a> <a class="pltEdit" href="#edit" data-rel="dialog" data-transition="pop" rel="external"></a>
    </script>

    <script type="text/template" id="stats-template">
      <% if (total) { %>
        <span class="todo-count">
          <span class="number"><%= remaining %></span>
          <span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
        </span>
      <% } %>
      <% if (done) { %>
        <span class="todo-clear">
          <a href="#">
            Clear <span class="number-done"><%= done %></span>
            completed <span class="word-done"><%= done == 1 ? 'item' : 'items' %></span>
          </a>
        </span>
      <% } %>
    </script>

	</body>


</html>